{{if .Languages}}
    <div class="languages">
        <div class="subtitle">{{.Labels.Languages}}</div>
        <div class="element">
            {{range $index, $lang := .Languages }}
                <span>
                    {{$lang.Language}}
                    {{if $lang.Fluency}}({{$lang.Fluency}}){{end}}
                    {{if not (isLast $index (len $.Languages))}},{{end}}
                </span>
            {{end}}
        </div>
    </div>
{{end}}