<div class="about">
    <div class="name">
        {{getFirstName .Name}} {{getLastName .Name}}
    </div>

    <div class="job-position">
        <div class="job-position-line"></div>
        <div class="job-position-label">{{ .Label }}</div>
        <div class="job-position-line"></div>
    </div>
</div>
