{{if .Languages}}
    <div class="languages">
        <div class="section-title">{{.Labels.Languages}}</div>
        <div class="item">
            {{range $index, $lang := .Languages}}
                <p class="value">
                    <strong>{{$lang.Language}}</strong>
                    {{if $lang.Fluency}} - {{$lang.Fluency}}{{end}}
                </p>
            {{end}}
        </div>
    </div>
{{end}}