<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data.FirstName}} {{.Data.LastName}} - {{.Data.JobPosition}}</title>
    {{template "styles.gohtml"}}
</head>
<body>
<main>
    <div class="top">
        {{ template "about.gohtml" .Data }}
        {{if .Data.Photo}}
            <div class="photo">
                <img
                        class="round-img"
                        src="{{.Data.Photo}}"
                />
            </div>
        {{end}}
    </div>
    {{if .Data.Profile}}
        <div class="profile">
            <div class="subtitle">{{.Data.Labels.Profile}}</div>
            <p>{{.Data.Profile}}</p>
        </div>
    {{end}}
    {{ template "skills.gohtml" .Data }}
    {{ template "experiences.gohtml" .Data }}
    <div class="double-col">
        {{ template "projects.gohtml" .Data }}
        {{ template "certifications.gohtml" .Data }}
    </div>

    {{ template "education.gohtml" .Data }}

    <div class="double-col">
        {{ template "languages.gohtml" .Data }}
        {{ template "hobbies.gohtml" .Data }}
    </div>
</main>
</body>
</html>