<div class="about">
    <div class="name">
        <div>{{getLastName .Name}}</div>
        <div>{{getFirstName .Name}}</div>
    </div>

    <div class="job-position">{{ .Label }}</div>

    {{if .Summary}}
        <div class="profile-desc">
            {{ .Summary }}
        </div>
    {{end}}
</div>


<div class="photo">
    {{if .Image}}
        <img
                class="round-img"
                src="{{.Image}}"
        />
    {{end}}
</div>
