{{if .Certificates}}
    <div class="certifications">
        <div class="subtitle">Certifications</div>
        {{ range .Certificates}}
            <div class="item">
                <a {{if .URL}}href="{{.URL}}"{{end}} >{{.Title}}</a>
                {{if .Score}}
                    <small class="value">Score: {{.Score}}</small>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}
