<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>{{ .Basics.Name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ template "styles.gohtml" . }}
  </head>
  <body>
  
  <div id="resume">
    {{template "basics.gohtml" . }}
    {{template "skills.gohtml" . }}
    {{template "work.gohtml" . }}
    {{template "projects.gohtml" . }}
    {{template "education.gohtml" . }}
    {{template "certificates.gohtml" . }}
    {{template "languages.gohtml" . }}
    {{template "interests.gohtml" . }}
  </body>
</html>