<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Basics.Name}} | {{ .Basics.Label }}</title>
    {{ template "styles.gohtml" }}
</head>
<body>
<main>
    <div class="header">
        {{ template "about.gohtml" .Basics }}
        {{ template "contact.gohtml" .Basics }}
    </div>
    <div class="container">
        <div class="container-left">
            {{ template "experiences.gohtml" . }}
        </div>
        <div class="container-right">
            {{ template "education.gohtml" . }}
            {{ template "certifications.gohtml" . }}
            {{ template "projects.gohtml" . }}
            {{ template "skills.gohtml" . }}
            {{ template "languages.gohtml" . }}
            {{ template "interests.gohtml" . }}
        </div>
    </div>
</main>
</body>
</html>