<div class="about">
    <div class="name">{{ .Name }}</div>

    <div class="job-position">{{ .Label }}</div>

    {{if .Summary}}
        <div class="profile-desc">
            {{ .Summary }}
        </div>
    {{end}}
</div>


<div class="photo">
    {{if .Picture}}
        <img
                class="round-img"
                src="{{.Picture}}"
        />
    {{end}}
</div>
