<div class="about">
    <div class="name">{{ .Name }}</div>

    <div class="job-position">{{ .Label }}</div>

    {{if .Summary}}
        <div class="profile-desc">
            {{ .Summary }}
        </div>
    {{end}}
</div>

{{if .Image}}
    <div class="photo">
        <img
                class="round-img"
                src="{{.Image}}"
        />
    </div>
{{end}}