<div class="educations">
  <div class="subtitle">{{.Labels.Education}}</div>
  {{ range .Education }}
  <div class="element">
    <div class="degree">
      {{ .Degree }}
      | {{ .School }}
    </div>

    <div class="dates">
      {{ .Location }}
      | {{.Started}} - {{.Stopped}}
    </div>
  </div>
  {{end}}
</div>