{{if .Hobbies}}
<div class="hobbies">
  <div class="subtitle">{{.Labels.Hobbies}}</div>
  <div class="item">
    {{range $index, $hobbies := .Hobbies }}
      <span class="value">
        {{$hobbies}}{{if not (isLast $index (len $.Hobbies))}},{{end}}
      </span>
    {{end}}
  </div>
</div>
{{end}}