<div class="profile-container">
    {{ if .Image }}
        <div class="top-container-image">
            <img class="base64imageRound" src="{{ .Image }}">
        </div>
    {{ end }}
    {{ if .Summary }}
        <div class="profile-description">
            <p class="justify">{{ .Summary }}</p>
        </div>
    {{ end }}
</div>