{{if .Projects}}
    <div class="projects">
        <div class="section-title">
            {{ .Labels.Projects }}
        </div>
        {{range .Projects}}
            <div class="project-item">
                <div class="skills-category">{{ .Name }}</div>
                {{if .Description}}
                    <div class="skills-value">{{ .Description }}</div>
                {{end}}
                {{if .URL}}
                    <a href="{{ .URL }}">
                        <div class="skills-value project-link">{{ trimURLPrefix .URL }}</div>
                    </a>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}
