<!DOCTYPE html>
<html>
  <head>
    <title>{{.Name}} | {{.Job}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ template "styles.html" . }}
  </head>
  <body>
    <main>
      {{ template "about.html" . }} 
      {{ template "mission.html" . }}
      {{ template "experience.html" . }}
      {{ template "projects.html" . }}
      {{ template "education.html" . }}
      {{ template "skills.html" . }}
      {{ template "languages.html" . }}
    </main>
  </body>
</html>
