<!DOCTYPE html>
<html>
<head>
    <title>{{.Data.Name}} | {{.Data.Job}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{ template "styles.html" }}
</head>
<body>
<main>
    {{ template "about.html" .Data }}
    {{ template "mission.html" .Data }}
    {{ template "experience.html" .Data }}
    {{ template "projects.html" .Data }}
    {{ template "education.html" .Data }}
    {{ template "skills.html" .Data }}
    {{ template "languages.html" .Data }}
</main>
</body>
</html>
