<div class="about">
    <div class="name">
        <span class="first-name">{{getFirstName .Name}}</span> <span class="last-name">{{getLastName .Name}}</span>
    </div>
    <div class="job-position">
        {{.Label}}
    </div>
    {{if .Summary}}
        <div class="profile-desc">
            {{.Summary}}
        </div>
    {{end}}
</div>