<div class="experience">
  <h2>Experience</h2>
  {{ range .Experience }}
  <div class="experience__employer">
    <div class="experience__role">
      <div><strong>{{.Role}}</strong></div>
      <div class="experience__dates">
        {{.Started}} - {{if .Stopped}}{{.Stopped}}{{else}}Present{{end}}
      </div>
    </div>
    <div class="experience__entity">
      {{.Company}} <span class="experience__location">({{.Location}})</span>
    </div>
  </div>

  <ul class="experience__details">
    {{ range .Details }}
    <li class="experience__detail">{{- . -}}</li>
    {{end}}
  </ul>
</div>
{{end}}
