{{if .Hobbies}}
    <div class="hobbies">
        <div class="subtitle">{{.Labels.Hobbies}}</div>
        <div class="item">
            {{range $index, $hobbie := .Hobbies}}
                <span class="value">{{$hobbie}} {{if not (isLast $index (len $.Hobbies))}},{{end}} </span>
            {{end}}
        </div>
    </div>
{{end}}